* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: red;
}

nav a {
    display: inline-block;
}

body {
    background: linear-gradient(to bottom, navy, cadetblue);
    height: 100vh;
    align-content: center;
}

main {
    display: flex;
    align-content: center;
    justify-content: center;
}

.answerChoice {
    border: 1px solid black;
    padding: 10px;
    margin: 20px;

}
.questions {
    margin-top: 30%;
    width: 75%;
    padding: 20px;
    background-color: white;
    border: 3px solid navy;
    border-radius: 15px;
}

.questions h2 {
    margin-bottom: 50px;
}


